.LiturgyDay-container {
    display: flex;
    width: 55vw;
    min-height: 10rem;
    border: 2px solid black;
    margin: 10px;

}

.LiturgyDay-today {
    padding: 10px;
    width: 100%
}

.LiturgyDay-info {

}

.LiturgyDay-date {

}